.header {
    display: flex;
    align-items: center;
    background-color: #77002e;
    color: #fff;
    padding: 1rem;
}

.logo {
    margin-right: auto;
    user-select: none;
}

@media (max-width: 991.98px) {
    .header {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }
}
