.deleteButton {
    float: right;
}

.content {
    display: block;
    margin-bottom: 1rem;
}

.author {
    display: block;
    font-style: italic;
}

.favoriteButton {
    float: right;
    color: #383838;
}

.favoriteButton svg {
    margin-right: 0.25rem;
}

.favoriteButton_selected {
    color: #f91880;
}
