.main {
    padding: 1rem;
}

.content {
    display: block;
    margin-bottom: 1rem;
}

.author {
    display: block;
    font-style: italic;
}

.actions {
    padding: 0.5rem;
    border-top: 1px solid #c4c4c4;
    overflow: auto;
}

.actions button {
    float: right;
}
